*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-size: 100% 100%;
    position: relative;
    gap:150px
}
.overlay{
    background: rgba(0, 0, 0, 0.174);
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
}
h1{
    position: absolute;
    top: 20px;
    font-size: 50px;
    color: #061e31;
    z-index: 3;
    text-shadow: 2px 2px 10px #5595ca;
}
.drag{
    position: relative;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5px;
    cursor : grab;
    z-index: 3;
}
.dragbox{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #35393c84;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63ccca ;
}
.images{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
}
.drop{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63ccca ;
    z-index: 3;
}
.dropbox{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: #061e3199;
    box-shadow: 2px 2px 10px #061e31, -2px -2px 10px #63ccca ;
}
#reset{
    z-index: 3;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 150px;
    transform: translateX(-50%);
    padding: 10px 25px;
    background-color: #7387bf;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all;
}
#reset:hover{
    background-color: #c9ccd5;
    transition-delay: 300ms;
    transform-style: linear;
    transition-duration: 750ms;
}